/******20170620改版变量******/
//主色(按钮、文字)
$red: #fe4844;
//辅色(按钮、文字)
$yellow: #ffa300;
//下划线颜色
$underline: #eeeeee;
//背景灰色
$bg: #f6f6f6;
//标题、重要文字颜色
$title: #333333;
//非重要字体颜色
$secondary: #666666;
//说明字体颜色
$desc: #999999;
//指示性文字颜色
$indicator: #bbbbbb;
//可点击文字颜色
$link: #0075cc;

$carfreeyellow: #F6B340;
//微软雅黑
$msyh: Microsoft YaHei;